#icon{
  font-size: 96px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;

}
header {
  height: 100%;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

p {
  padding-bottom: 20px;
}
h1, h2, h3 {
  padding-bottom: 20px;

}

/* NAVBAR */
#brand {
  padding-top: 20px;
}
#brand a {
  text-decoration: none;
  color: #fff;
}

#description {
  font-style: italic;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}
.temp {
  color: #fff;
  font-size: 80px;
  font-weight: 900;
  margin: 40px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.temp span + span{
  font-weight: 500;
}


nav ul {
  display: flex;
  float: right;
  margin: 0px;
  list-style-type: none;
  padding: 0;
}


nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
  margin: 0 5px;

}
nav ul li a.active, nav ul li a:hover{
  border-bottom: 2px solid blue;
}


header{
  background: url('../img/img10.jpg') no-repeat center center/cover;
}



/* showcase */
#showcase {
  position: relative;
  color: #fff;
  
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#showcase h1{
  font-size: 4rem;
  line-height: 1.2em;

}

#main-footer {
  position: relative;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding:30px;
  overflow: hidden;
  opacity: 0.9;
}
